<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glassfitgames.glassfitplatform"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />    
    <permission android:name="com.glassfitgames.glassfitplatform.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.glassfitgames.glassfitplatform.gcm.permission.C2D_MESSAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="ormdroid.database.name"
            android:value="glassfit_platform_database" />

        <activity
            android:name="com.glassfitgames.glassfitplatform.auth.AuthenticationActivity"
            android:label="@string/title_activity_authentication" >
        </activity>

        <activity
            android:name="com.glassfitgames.glassfitplatformdemo.OrientationHelper"
            android:label="@string/title_orientation_helper" >
        </activity> 
        
        <service
            android:name="com.glassfitgames.glassfitplatform.sensors.SensorService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/sensor_service_name" >
        </service>
        
		<receiver
            android:name="com.glassfitgames.glassfitplatform.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.glassfitgames.glassfitplatform" />
            </intent-filter>
        </receiver>
        <service android:name="com.glassfitgames.glassfitplatform.gcm.GcmIntentService" />        
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>

</manifest>